.App {
  text-align: center;
  background-color: #116314;
  width: 100%;
}

.board {
    background-image: url('backgammon-board.gif');
    width: 90%;
    height: 0;
    padding-top: 66.64%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


